@(partialProfileForm: Form[PartialProfile])
@import helper.twitterBootstrap._


@import helper._

@authorized("Profile creation") {

@if(partialProfileForm.hasErrors) {
<div class="alert alert-error">
    <a class="close" data-dismiss="alert">x</a>
    @if(partialProfileForm.errors.size > 0) {
        @for(formError <- partialProfileForm.errors) {
            @formError.key : @formError.message
        }
    } else {No error returned.}
</div>
}

@form(routes.Profiles.create) {
<label for="username">Username</label>
<input type="text" name="username" id="username" autofocus="true"/> <br/>
<label for="avatar">Avatar</label>
<input type="text" name="avatar" id="avatar"/><br/>
<label for="description">Description</label>
<textarea name="description" id="description" rows="5" cols="50"></textarea><br/>
<label for="location">Location</label>
<input type="text" name="location" id="location"/><br/>
<input type="submit" value="update"/><br/><br/>
}

}