
/*********************************************** Fonts
*/

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300);

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg'), url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*********************************************** Forms
*/


input:focus {
    outline: none;
}

input[type="text"], input[type="date"], input[type="email"], input[type="number"], input[type="search"] {
	border:1px solid #dfdfdf;
	transition:border-color 0.3s ease;
	-moz-transition:border-color 0.3s ease;
}

input[type="text"]:focus, input[type="date"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus {
	border:1px solid #18a4d8;
}

/*********************************************** Layout
*/


html, body {
	height:100%;
	margin:0;
	padding:0;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 0 -60px;
	position:relative;
	overflow:hidden;
}

.wrapper .push {
	clear:both;
	height:60px;
}

.footer {
	width:100%;
	position:absolute;
	height:20px;
	z-index:5;
}

.container {
	max-width:1300px;
	margin:0 auto;
	padding:0 20px;
}
.container:after {
	content:'';
	display:table;
	clear:both;
}

/*********************************************** Main
*/

html, body {
	color:#292929;
	font-size:100%;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:300;
}


a {
	text-decoration:none;
	font-weight:400;
	color:#18a4d8;
}

a:hover {
	text-decoration:underline;
}


.face_circle {
	border-radius:50%;
	width:45px;
	height:45px;
	border:1px solid #ccc;
	display:inline-block;
	transition:border-color 0.3s ease;
	-moz-transition:border-color 0.3s ease;
}

.face_circle > img {
	border-radius:50%;
	width:43px;
	height:43px;
	margin:1px;
}

.face_circle:hover, a:hover .face_circle {
	border:2px solid #18a4d8;
	width:43px;
	height:43px;
	margin-bottom:1px;
}

.face_circle:hover > img, a:hover .face_circle > img {
	margin:0;
	margin-bottom:1px;
}

a.follow_btn {
	border-radius:1px;
	width:73px;
	border:1px solid #dfdfdf;
	display:inline-block;
	padding:5px 10px 5px 7px;
	text-align:center;
	background:#ffffff;
}

a.follow_btn:hover {
	text-decoration:none;
	background:#18a4d8;
	color:#fff;
}

.hash_tag {
	font-style:italic;
	font-weight:300;
}


/*********************************************** Header
*/

.header {
	background:#18a4d8;
	color:#fff;
}


.header .left_nav {
	float:left;
	border-right:#fff 1px solid;
}

.header .left_nav > div {
	display:block;
	float:left;
	border-left:#fff 1px solid;
	height:115px;
}

.header .right_nav {
	float:right;
	border-right:#fff 1px solid;
}

.header .right_nav > div {
	display:block;
	float:left;
	border-left:#fff 1px solid;
	height:115px;
}

.header a {
	display:block;
	width:35px;
	text-indent:-99999px;
	padding:0 20px;
	position:relative;
	color:#fff;
	font-size:32px;
	line-height:40px;
	height:115px;
	background:18a4d8;
	transition:background 0.3s ease;
	-moz-transition:background 0.3s ease;
	-webkit-transition:background 0.3s ease; 
}

.header a:hover {
	background:#23b7ee;
	text-decoration:none;
}


.header #menu_btn:after {
	content:'\f0c9';
	display:block;
	height:40px;
	width:35px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-17.5px;
	margin-top:-20px;
	font-family: FontAwesome;
	text-align:center;
	text-indent:0;
}

.header a.logo {
	display:block;
	width:257px;
	padding-top:35px;
	height:80px;
}

.header .logo h1 {
	margin:0;
	text-indent:-99999px;
	background:url(../images/logo.png) center center no-repeat;
	background-size:100%;
}

.header #rack_btn:after {
	content:'';
	display:block;
	height:40px;
	width:35px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-17.5px;
	margin-top:-20px;
	text-indent:0;
	background:url(../images/add_rack.png) center center no-repeat;
}


.header #alerts_btn:after {
	content:'\f0f3';
	display:block;
	height:40px;
	width:35px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-17.5px;
	margin-top:-20px;
	font-family: FontAwesome;
	text-align:center;
	text-indent:0;
	z-index:2;
}

.header #alerts_btn span {
	display:block;
	height:40px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-17.5px;
	margin-top:-20px;
	text-indent:0;
	color:#18a4d8;
	z-index:3;
	font-size:14px;
	text-align:center;
	width:35px;
}

.header #user_btn {
	width:210px;
	padding:33px 20px 0;
	text-indent:0;
	font-size:24px;
	height:82px;
	vertical-align:middle;
}

.header #user_btn > .name {
	display:inline-block;
	width:100px;
	padding:0 0 0 20px;
	position:relative;
	color:#fff;
	font-size:18px;
	line-height:24px;
	vertical-align:middle;
}

.header #user_btn .face_circle {
	border:1px solid #fff;
	vertical-align:middle;
	transition:background 0.3s ease;
	-moz-transition:background 0.3s ease;
}

.header #user_btn:hover .face_circle {
	border:1px solid #fff;
	background:#fff;
	padding:1px;
}


.header #user_btn span:after {
	content:'\f0d7';
	display:block;
	height:40px;
	width:20px;
	position:absolute;
	top:50%;
	right:20px;
	margin-left:-17.5px;
	margin-top:-20px;
	font-family: FontAwesome;
	text-align:center;
	text-indent:0;
	z-index:2;
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
    only screen and (-o-min-device-pixel-ratio: 4/3),
    only screen and (min--moz-device-pixel-ratio: 1.3),
    only screen and (min-device-pixel-ratio: 1.3) {
	.header .logo h1 {
		background:url(../images/logo_x2.png) center center no-repeat;
		background-size:100%;
	}
	
	.header #rack_btn:after {
		background:url(../images/add_rack_x2.png) center center no-repeat;
		background-size:100%;		
	}
}

/*********************************************** Sidebar
*/

#sidebar {
	background:#f6f6f6;
	/*background:#efefef;*/
	width:220px;
	padding:20px 20px 20px 0;
	float:left;
	position:relative;
	z-index:2;
}

#sidebar:before {
	content:'';
	display:block;
	position:absolute;
	top:0;
	height:1000%;
	margin-left:-1000%;
	padding:0 240px 0 0;
	background:#f6f6f6;
	width:1000%;
	z-index:-1;
	box-shadow: 1px 0 0 0 #dfdfdf;
}

#sidebar > div {
	margin-bottom:20px;
}

#sidebar .sidebar_search {
	position:relative;
}

#sidebar .sidebar_search #search_input {
	width:100%;
	padding:9px 40px 11px 10px;
	box-sizing:border-box;
	height:60px;
	letter-spacing:-0.02em;
	font-size:16px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:300;
}


#sidebar .sidebar_search #search_input:-ms-input-placeholder {font-style:italic; color:#c1c1c1;}
#sidebar .sidebar_search #search_input::-ms-clear { color:#c1c1c1; margin-top:2px; }
#sidebar .sidebar_search #search_input::-ms-clear:hover { 	color:#18a4d8;  }
#sidebar .sidebar_search #search_input:-moz-placeholder {font-style:italic; color:#999;}
#sidebar .sidebar_search #search_input::-moz-placeholder {font-style:italic; color:#999;}
#sidebar .sidebar_search #search_input[placeholder]::-webkit-input-placeholder {font-style:italic; color:#c1c1c1;}

#sidebar .sidebar_search #search_input:focus::-moz-placeholder {opacity: 0;}

#sidebar .sidebar_search #search_input:focus:-moz-placeholder {	opacity: 0;}

#sidebar .sidebar_search #search_input[placeholder]:focus::-webkit-input-placeholder {transition: opacity 0.5s 0.3s ease; opacity: 0;}

#sidebar .sidebar_search #search_input:focus {
	font-style:normal;
}


#sidebar .sidebar_search #search_submit_container {
	position:absolute;
	top:10px;
	right:10px;
	width:35px;
	height:40px;
}

#sidebar .sidebar_search #search_submit_container:before {
	content:'\f002';
	display:block;
	width:35px;
	height:40px;
	position:absolute;
	top:6px;
	right:0px;
	font-size:24px;
	font-family: FontAwesome;
	text-align:center;
	text-indent:0;
	color:#c1c1c1;
	transition:color 0.3s ease;
	-moz-transition:color 0.3s ease;
}

#sidebar .sidebar_search #search_submit {
	width:35px;
	height:40px;
	background:none;
	border:none;
	text-indent:-99999px;
	cursor:pointer;
	position:relative;
	z-index:2;
}

#sidebar .sidebar_search #search_submit_container:hover:before {
	color:#18a4d8;
}

#sidebar h3 {
	font-size:18px;
	font-weight:700;
	margin:10px 0;
}

#sidebar a {
	color:#18a4d8;
}

#sidebar .tranding_tags ul {
	padding:0;
	margin:10px 0;
}

#sidebar .tranding_tags ul li {
	list-style:none;
}

#sidebar .suggested_friends ul {
	padding:0;
	margin:10px 0;
}

#sidebar .suggested_friends ul li {
	list-style:none;
}

#sidebar .suggested_friends ul li {
	list-style:none;
	margin-bottom:15px;
}

#sidebar a.follow_btn:hover {
	color:#fff;
}

#sidebar .sidebar_profile_btn {
	width:120px;
	margin-right:8px;
	display:inline-block;
	text-align:center;
	vertical-align:middle;
}

#sidebar .sidebar_profile_btn:hover {
	text-decoration:none;
}

#sidebar .sidebar_profile_btn span {
	display:block;
}

/*********************************************** Main Content
*/

.main_content {
	float:right;
	width:100%;
	margin-left:-265px;
	padding-left:265px;
	box-sizing:border-box;
	margin-top:20px;
	position:relative;
	z-index:1;
}

/*********************************************** News Feed
*/

.pod {
	float:right;
	margin-left:20px;
	width:100%;
	min-width:680px;
	/*background:red;*/
	font-size:1.125em;
	margin-bottom:30px;
}

.pod .pod_top {
	background:#f6f6f6;
	border:1px solid #dfdfdf;
	height:60px;
	padding-left:100px;
	padding-right:160px;
	position:relative;
	line-height:55px;
}

.pod .pod_top .pod_face {
	position:absolute;
	left:20px;
	top:-10px;
	width:60px;
	height:60px;
	display:block;
	border:1px solid #dfdfdf;
	border-radius:50%;
	background:#fff;
	transition:border-color 0.3s ease;
	-moz-transition:border-color 0.3s ease;
}

.pod .pod_top .pod_face:hover {
	border:2px solid #18a4d8;
	width:58px;
	height:58px;
}

.pod .pod_top .pod_face > img {
	width:56px;
	border-radius:50%;
	margin:2px 0 0 2px;
}

.pod .pod_top .pod_face:hover > img {
	margin:1px 0 0 1px;
}

.pod .pod_top .pod_title {
	display:inline-block;
	vertical-align:middle;
	line-height:20px;
}

.pod .pod_top .pod_top_right {
	width:140px;
	position:absolute;
	right:0;
	top:0;
	height:60px;
	border-left:1px solid #dfdfdf;
	vertical-align:middle;
}

.pod .pod_top .pod_top_right .countdown {
	text-align:center;
	margin-top:2px;
}

.pod .pod_top .pod_top_right .countdown > div {
	display:inline-block;
	color:#18a4d8;
}

.pod .pod_top .pod_top_right .countdown > div:before {
	content:'\f017';
	font-family: FontAwesome;
	margin-right:5px;
}

.pod .pod_top .pod_top_right .top_right_btn a {
	width:140px;
	height:58px;
	text-align:center;
	display:block;
	padding-top:2px;
	background:#f6f6f6;
	transition:background 0.3s ease;
	-moz-transition:background 0.3s ease;
}

.pod .pod_top .pod_top_right .top_right_btn a:hover {
	text-decoration:none;
	background:#ffffff;
}

.pod .pod_top .pod_top_right .top_right_vote:before {
	content:'\f005';
	font-family: FontAwesome;
	margin-right:5px;
}

.pod .pod_top .pod_top_right .top_right_view:before {
	content:'\f06e';
	font-family: FontAwesome;
	margin-right:5px;
}


.pod .pod_footer {
	background:#ffffff;
	border:1px solid #dfdfdf;
	height:40px;
	padding-left:0px;
	padding-right:160px;
	position:relative;
	line-height:40px;
}

.pod .pod_footer > div {
	float:left;
	text-align:center;
}

.pod .pod_footer .pod_comments a {
	height:40px;
	width:70px;
	display:block;
	border-right:1px solid #dfdfdf;
	transition:background 0.3s ease;
	-moz-transition:background 0.3s ease;
}

.pod .pod_footer .pod_comments a:before {
	content:'\f075';
	font-family: FontAwesome;
	margin-right:5px;	
}

.pod .pod_footer .pod_comments a:hover {
	text-decoration:none;
	background:#f6f6f6;
}

.pod .pod_footer .pod_vote_summery a {
	height:40px;
	width:70px;
	display:block;
	border-right:1px solid #dfdfdf;
	transition:background 0.3s ease;
	-moz-transition:background 0.3s ease;
}

.pod .pod_footer .pod_vote_summery a:before {
	content:'\f005';
	font-family: FontAwesome;
	margin-right:5px;	
}

.pod .pod_footer .pod_vote_summery a:hover {
	text-decoration:none;
	background:#f6f6f6;
}

.pod .pod_footer .pod_share a {
	height:40px;
	width:140px;
	display:block;
	transition:background 0.3s ease;
	-moz-transition:background 0.3s ease;
}

.pod .pod_footer .pod_share a:before {
	content:'\f064';
	font-family: FontAwesome;
	margin-right:5px;	
}

.pod .pod_footer .pod_share a:hover {
	text-decoration:none;
	background:#f6f6f6;
}

.pod .pod_footer .pod_hash_tags {
	float:none;
	text-align:right;
}

.pod .pod_footer .pod_footer_right {
	width:140px;
	position:absolute;
	right:0;
	top:0;
	height:40px;
	border-left:1px solid #dfdfdf;
	vertical-align:middle;
}

.pod .pod_content {
	margin:1px 0;
	padding:10px;
	border:1px solid #dfdfdf;
}

/*********************************************** Pod --- Rack
*/

.pod .pod_rack {
	border:none;
	margin:7px 0;
}

.pod .pod_rack.done {
	border:none;
	margin:7px 0 0;
	padding-bottom:3px;
}


.pod .pod_rack ul {
	border-top:2px solid #dfdfdf;
	margin:0 -10px;
	padding:0;
}

.pod .pod_rack ul li {
	display:inline-block;
	width:20%;
	margin:0 -2px;
	text-align:center;
	margin-top:15px;
	position:relative;
	line-height:17px;
}

.pod .pod_rack ul li:before {
	content:'';
	display:block;
	width:0;
	border:1px solid #dfdfdf;
	height:13px;
	position:absolute;
	left:50%;
	top:-15px;
	margin-left:-1px;
}

.pod .pod_rack ul li:after {
	content:'';
	display:block;
	width:8px;
	height:8px;
	background:#dfdfdf;
	position:absolute;
	left:50%;
	top:-20px;
	margin-left:-4px;
	border-radius:50%;
}

.pod .pod_rack ul li .rack_image {
	display:inline-block;
	width:130px;
	border:1px solid #dfdfdf;
	position:relative;
	line-height:normal;
}

.pod .pod_rack ul li .rack_image img {
	width:130px;
	display:block;
	transition:opacity 0.3s ease;
	-moz-transition:opacity 0.3s ease;
}

.pod .pod_rack ul li .rack_image:hover img {
	opacity:0.75;	
}

.pod .pod_rack ul li .rack_image a {
	position:absolute;
	background:#efefef;
	transition:background 0.3s ease, bottom 0.3s ease, opacity 0.3s ease;
	-moz-transition:background 0.3s ease, bottom 0.3s ease, opacity 0.3s ease;	
	border:1px solid #dfdfdf;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.2);
	border-radius:2px;
	color:#666666;
}

.pod .pod_rack ul li .rack_image a:hover {
	text-decoration:none;
	background:#ffffff;
}

.pod .pod_rack ul li .rack_image .vote_btn {
	bottom:10px;
	left:10px;
	width:110px;
	height:25px;
	z-index:1;
}

.pod .pod_rack ul li .rack_image .vote_btn:after {
	content:'\f006';
	font-family: FontAwesome;
	margin-left:5px;
}

.pod .pod_rack ul li .rack_image .vote_btn:hover:after {
	color:#18a4d8;
}

.pod .pod_rack ul li .rack_image .rack_btn {
	bottom:20px;
	left:10px;
	width:75px;
	height:25px;
	background:#18a4d8;
	border:1px solid #0f93c4;
	border-top-color:#5bd0fb;
	color:#fff;
	text-indent:-9999px;
	opacity:0;
}

.pod .pod_rack ul li .rack_image .rack_btn:after {
	content:'';
	display:block;
	height:19px;
	width:48px;
	position:absolute;
	left:15px;
	top:3px;
	background:url(../images/rack.png) center center no-repeat;	
}

.pod .pod_rack ul li .rack_image .rack_btn:hover {
	background:#23b7ee;
}

.pod .pod_rack ul li .rack_image .info_btn {
	bottom:20px;
	left:95px;
	width:25px;
	height:25px;
	text-indent:-9999px;
	opacity:0;
}

.pod .pod_rack ul li .rack_image .info_btn:after {
	content:'';
	display:block;
	height:22px;
	width:22px;
	position:absolute;
	left:2px;
	top:1px;
	background:url(../images/info.png) center center no-repeat;	
}

.pod .pod_rack ul li .rack_image:hover .info_btn, .pod .pod_rack ul li .rack_image:hover .rack_btn {
	opacity:1;
	bottom:45px;
}


.pod .pod_rack ul li .rack_stats {
	display:inline-block;
	width:130px;
	text-align:left;
	font-size:0.7em;
	color:#ccc;
}

.pod .pod_rack ul li .rack_stats .rack_votes {
	margin-right:10px;
}

.pod .pod_rack ul li .rack_stats .rack_votes:before {
	content:'\f005';
	font-family: FontAwesome;
	margin-right:5px;
}

.pod .pod_rack ul li .rack_stats .rack_racks:before {
	content:'';
	margin-right:5px;
	width:11px;
	height:9px;
	display:inline-block;
	background:url(../images/racked.png) center center no-repeat;
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
    only screen and (-o-min-device-pixel-ratio: 4/3),
    only screen and (min--moz-device-pixel-ratio: 1.3),
    only screen and (min-device-pixel-ratio: 1.3) {
	
	.pod .pod_rack ul li .rack_image .rack_btn:after {
		background:url(../images/rack_x2.png) center center no-repeat;
		background-size:100%;
	}
	
	.pod .pod_rack ul li .rack_image .info_btn:after {
		background:url(../images/info_x2.png) center center no-repeat;
		background-size:100%;
	}
	
	.pod .pod_rack ul li .rack_stats .rack_racks:before {
		background:url(../images/racked_x2.png) center center no-repeat;
		background-size:100%;
	}
	
}

/*********************************************** Pod --- Others
*/

.pod.following_user .face_circle {
	vertical-align:middle;
	margin:0 7px 2px 5px;
	height:35px;
	width:35px;
}

.pod.following_user .face_circle > img, .pod.following_user .face_circle:hover, .pod.following_user a:hover .face_circle {
    height: 33px;
    width: 33px;
}

.pod .pod_content.following ul {
	margin:0;
	padding:0;
}

.pod .pod_content.following ul li {
	display:inline-block;
	box-sizing:border-box;
	width:50%;
	margin:5px -2px;
	padding:0 160px 0 10px;
	position:relative;
}

.pod .pod_content.following ul li .follow_btn {
	position:absolute;
	right:10px;
	background:#f6f6f6;
}

.pod .pod_content.following ul li .follow_btn:hover {
	background:#18a4d8;
}

/*********************************************** Footer
*/

.footer {
	background:#18a4d8;
	color:#fff;
	padding:20px 0;
}


.footer_left {
	float:left;
}

.footer_right {
	float:right;
}

.footer a {
	color:#fff;
	font-weight:300;
}


/*********************************************** Tablet
*/


@media (max-width: 1000px) {
	
	#sidebar {
		position:absolute;
		top:0;
		left:-260px;
	}
	
	.main_content {
		float: left;
		margin-left: 0px;
		padding-left: 0px;
	}
	
	
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}
