@(assets: Iterable[fly.play.s3.BucketItem], bucketName: String)

@import helper._

@authorized("Uploader") {

<h1>Profile Upload an image</h1>

@helper.form(action = routes.Profiles.upload, 'enctype -> "multipart/form-data") {
<input type="file" name="file">
<p><input type="submit"></p>
}

<h2>Media</h2>
<ul class="unstyled">
    @for(asset <- assets.toList) {
    @if(!asset.name.endsWith("/")) {
    <li><img src="https://s3-eu-west-1.amazonaws.com/myshoppingrack/@asset.name" /></li>
    }
    }
</ul>

}
